
    <div class="mobile-menu is-hidden" >
        <div class="container menu-container">
            <div class="menu-content">
                <div class="mob-menu-header">
                    <a href="./index.html" class="header-logo link">
                        <img class="logo-icon" src="./img/logo.svg" alt="" />
                        <span class="text-logo">
                            thewatchspot
                        </span>
                    </a>
                    <button type="button" class="menu-close" menu-close>
                        <svg width="24" height="24" class="menu-close-icon">
                            <use href="./img/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>
                <nav class="mob-navigation">
                    <ul class="mob-navigation-list list">
                        <li class="mob-navigation-item"><a href="#anchor1" class="mob-navigation-link link">About
                                us</a></li>
                        <li class="mob-navigation-item"><a href="#anchor2" class="mob-navigation-link link">Catalog</a>
                        </li>
                        <li class="mob-navigation-item"><a href="#anchor3" class="mob-navigation-link link">Sale</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div> 