<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Watch Spot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
        integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>

    <div class="mobile-menu">
        <div class="container">
            <div class="menu-content">
                <div class="mob-menu-header">
                    <a href="./index.html" class="header-logo link">
                        <img class="logo-icon" src="./img/logo.svg" alt="" />
                        <span class="text-logo">
                            thewatchspot
                        </span>
                    </a>
                    <button type="button" class="menu-close">
                        <svg width="12" height="12" class="menu-close-icon">
                            <use href="./img/icons.svg#icon-close"></use>
                        </svg>
                    </button>
                </div>
                <nav class="mob-navigation">
                    <ul class="mob-navigation-list list">
                        <li class="mob-navigation-item"><a href="#anchor1" class="mob-navigation-link link">About
                                us</a></li>
                        <li class="mob-navigation-item"><a href="#anchor2" class="mob-navigation-link link">Catalog</a>
                        </li>
                        <li class="mob-navigation-item"><a href="#anchor3" class="mob-navigation-link link">Sale</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</body>

</html>