<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="10" height="10">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-purchase">
      <img
        srcset="/img/modal-watch.jpg 1x, /img/modal-watch-@2x.jpg 2x"
        src="../img/modal-watch.jpg"
        alt="watch you chosed"
        width="276"
        height="325"
      />
      <h3 class="watch-name">Tube Watch S42 Date Steel With Black Case</h3>
      <p class="watch-price">€395</p>
    </div>

    <form class="modal-form">
      <label class="modal-form-field"
        ><span class="modal-form-input-desc">Full name</span>
        <input
          type="text"
          name="user_name"
          class="modal-form-input"
          pattern="^[a-zA-Z]+$"
          minlength="2"
          placeholder="Enter your full name" /></label
      ><label class="modal-form-field"
        ><span class="modal-form-input-desc">Email</span>
        <input
          type="email"
          name="user_mail"
          class="modal-form-input"
          placeholder="Enter your email" /></label
      ><label class="modal-form-field"
        ><span class="modal-form-input-desc">Card number</span>
        <input
          type="text"
          name="user_card"
          pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
          minlength="19"
          maxlength="19"
          title="xxxx-xxxx-xxxx-xxxx"
          class="modal-form-input"
          placeholder="Enter card"
      /></label>
      <label for="" class="modal-form-field"
        ><span class="modal-form-input-desc">Comments</span>
        <textarea
          name=""
          class="modal-form-message"
          placeholder="Enter your text"
        ></textarea>
      </label>
      <button type="submit" class="modal-form-submit">submit</button>
      <p class="modal-form-info">
        By clicking on “Send message” button, you agree to our
        <a class="modal-policy-link" href="">Privacy Policy</a>, and allow
        Promodo to use this information for marketing purposes.
      </p>
    </form>
  </div>
</div>
