<!-- Catalog -->

<section class="catalog">
  <div class="container">
    <h2 class="title">Catalog</h2>
    <ul class="gallery">
      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              class="picture"
              srcset="./img/catalog/watch-1@2x.jpg 2x"
              src="./img/catalog/watch-1.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Tube Watch S42 Date Steel With Black...</h3>
          <p class="main-text">€395</p>
        </a>
      </li>

      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-2@2x.jpg 2x"
              src="./img/catalog/watch-2.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Avondale Watch Police For Men</h3>
          <p class="main-text">€800</p>
        </a>
      </li>

      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-3@2x.jpg 2x"
              src="./img/catalog/watch-3.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title title-add">
            Diver 300M Co‑Axial Master Chronometer...
          </h3>
          <p class="main-text">€600</p>
        </a>
      </li>

      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-4@2x.jpg 2x"
              src="./img/catalog/watch-4.jpg"
              alt="Watch"
            />
            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Diver 300M Co-Axial Master...</h3>
          <p class="main-text">€1400</p>
        </a>
      </li>

      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-5@2x.jpg 2x"
              src="./img/catalog/watch-5.jpg"
              alt="Watch"
            />
            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Taman Watch By Police For Men</h3>
          <p class="main-text">€500</p>
        </a>
      </li>

      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-6@2x.jpg 2x"
              src="./img/catalog/watch-6.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Malawi Watch Police For Men</h3>
          <p class="main-text">€555</p>
        </a>
      </li>

      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-7@2x.jpg 2x"
              src="./img/catalog/watch-7.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>
                  <p class="text-overlay text-style"></p>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="main-text">€1200</p>
        </a>
      </li>

      <li class="item item-card">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-8@2x.jpg 2x"
              src="./img/catalog/watch-8.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Greenlane Watch By Police For Men</h3>
          <p class="main-text sec-text">€1000</p>
        </a>
      </li>

      <li class="item hidden">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-9@2x.jpg 2x"
              src="./img/catalog/watch-9.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Squardrc 5402 Chrono</h3>
          <p class="main-text">€359</p>
        </a>
      </li>

      <li class="item hidden">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-10@2x.jpg 2x"
              src="./img/catalog/watch-10.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Diver 300M Co‑Axial Master...</h3>
          <p class="main-text">€400</p>
        </a>
      </li>

      <li class="item hidden">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-11@2x.jpg 2x"
              src="./img/catalog/watch-11.jpg"
              alt="Watch"
            />
            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>

                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Citizen</h3>
          <p class="main-text">€519</p>
        </a>
      </li>

      <li class="item hidden">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-12@2x.jpg 2x"
              src="./img/catalog/watch-12.jpg"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay fffff">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>

                  <ul class="descr-list">
                    <li class="descr-item">Gender: man</li>
                    <li class="descr-item">Size: 46x54.5mm</li>
                    <li class="descr-item">Case Colour: Steel</li>
                    <li class="descr-item">Band Material: Metal</li>
                    <li class="descr-item">Case Material: Metal</li>
                    <li class="descr-item">Features: Multifunction</li>
                    <li class="descr-item">Water Resistant: 5 (ATM)</li>
                    <li class="descr-item">Band Colour: Steel</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Armani Exchange</h3>
          <p class="main-text">€400</p>
        </a>
      </li>
    </ul>
    <button data-modal-open class="buynow" type="button">Buy now</button>
  </div>
</section>
