<!-- Catalog -->

<section class="catalog">
  <div class="container">
    <h2 class="title">Catalog</h2>
    <ul class="gallery">
      <li class="item">
        <a class="link-overlay" href="">
          <div class="overlay-thumb">
            <img
              srcset="./img/catalog/watch-1@2x.jpg 2x"
              src="./img/catalog/watch-1.jpg"
              width="275"
              height="274"
              alt="Watch"
            />

            <div class="overlay">
              <ul class="list-overlay">
                <li class="item-overlay">
                  <h4 class="title-overlay">Description</h4>
                  <p class="text-overlay">
                    Richly detailed with an understated design - the Police
                    Men’s Greenlane watch.
                  </p>
                </li>
                <li class="item-overlay">
                  <h4 class="title-overlay">DETAILS & FEATUREStion</h4>
                  <p class="text-overlay">
                    Gender: man Size: 46x54.5mm Case Colour: Steel Band
                    Material: Metal Case Material: Metal Features: Multifunction
                    Water Resistant: 5 (ATM) Band Colour: Steel
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <h3 class="card-title">Tube Watch S42 Date Steel With Black Case</h3>
          <p class="main-text">€395</p>
        </a>
      </li>

      <li class="item">
        <img
          srcset="./img/catalog/watch-2@2x.jpg 2x"
          src="./img/catalog/watch-2.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Avondale Watch Police For Men</h3>
        <p class="main-text">€800</p>
      </li>

      <li class="item">
        <img
          srcset="./img/catalog/watch-3@2x.jpg 2x"
          src="./img/catalog/watch-3.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </h3>
        <p class="main-text">€600</p>
      </li>

      <li class="item">
        <img
          srcset="./img/catalog/watch-4@2x.jpg 2x"
          src="./img/catalog/watch-4.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Diver 300M Co-Axial Master Chronometer</h3>
        <p class="main-text">€1400</p>
      </li>

      <li class="item">
        <img
          srcset="./img/catalog/watch-5@2x.jpg 2x"
          src="./img/catalog/watch-5.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Taman Watch By Police For Men</h3>
        <p class="main-text">€500</p>
      </li>

      <li class="item">
        <img
          srcset="./img/catalog/watch-6@2x.jpg 2x"
          src="./img/catalog/watch-6.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Malawi Watch Police For Men</h3>
        <p class="main-text">€555</p>
      </li>

      <li class="item">
        <img
          srcset="./img/catalog/watch-7@2x.jpg 2x"
          src="./img/catalog/watch-7.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Diver 300M Co-Axial Master Chronometer</h3>
        <p class="main-text">€1200</p>
      </li>

      <li class="item">
        <img
          srcset="./img/catalog/watch-8@2x.jpg 2x"
          src="./img/catalog/watch-8.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Greenlane Watch By Police For Men</h3>
        <p class="main-text">€1000</p>
      </li>

      <li class="item hidden">
        <img
          srcset="./img/catalog/watch-9@2x.jpg 2x"
          src="./img/catalog/watch-9.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Squardrc 5402 Chrono</h3>
        <p class="main-text">€359</p>
      </li>

      <li class="item hidden">
        <img
          srcset="./img/catalog/watch-10@2x.jpg 2x"
          src="./img/catalog/watch-10.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">
          Diver 300M Co‑Axial Master Chronometer Chronograph
        </h3>
        <p class="main-text">€400</p>
      </li>

      <li class="item hidden">
        <img
          srcset="./img/catalog/watch-11@2x.jpg 2x"
          src="./img/catalog/watch-11.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Citizen</h3>
        <p class="main-text">€519</p>
      </li>

      <li class="item hidden">
        <img
          srcset="./img/catalog/watch-12@2x.jpg 2x"
          src="./img/catalog/watch-12.jpg"
          width="275"
          height="274"
          alt="Watch"
        />

        <h3 class="card-title">Armani Exchange</h3>
        <p class="main-text">€400</p>
      </li>
    </ul>
  </div>
  <button class="buynow" type="button">Buy now</button>
</section>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body></body>
</html>
