<!--* ----------------CATALOG-------------  -->

<section class="container catalog">
  <h2 class="title">Catalog</h2>

  <ul class="gallery">
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Tube Watch S42 Date Steel With Black Case</h3>
      <p class="main-text">€395</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Avondale Watch Police For Men</h3>
      <p class="main-text">€800</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">
        Diver 300M Co‑Axial Master Chronometer Chronograph
      </h3>
      <p class="main-text">€600</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Diver 300M Co-Axial Master Chronometer</h3>
      <p class="main-text">€1400</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Taman Watch By Police For Men</h3>
      <p class="main-text">€500</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Malawi Watch Police For Men</h3>
      <p class="main-text">€555</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Diver 300M Co-Axial Master Chronometer</h3>
      <p class="main-text">€1200</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Greenlane Watch By Police For Men</h3>
      <p class="main-text">€1000</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Squardrc 5402 Chrono</h3>
      <p class="main-text">€359</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">
        Diver 300M Co‑Axial Master Chronometer Chronograph
      </h3>
      <p class="main-text">€400</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Citizen</h3>
      <p class="main-text">€519</p>
    </div>
    <li class="item"><img srcset="" src="" alt="Watch" /></li>
    <div>
      <h3 class="card-title">Armani Exchange</h3>
      <p class="main-text">€400</p>
    </div>
  </ul>
  <button class="buynow" type="button">Buy now</button>
</section>
