<footer class="footer">
  <div class="container">
    <address>
      <ul>
        <li>
          <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
        </li>
        <li>
          <a href="" class="footer-address"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </li>
      </ul>
    </address>
    <ul class="footer-link">
      <li><a href="" class="footer-link-about-us">ABOUT US</a></li>
      <li><a href="" class="footer-link-catalog">CATALOG</a></li>
      <li><a href="" class="footer-link-sale">SALE</a></li>
    </ul>
    <ul class="footer-social-media">
      <li class="footer-social-media-item">
        <a href="" class="footer-icons-link"
          ><svg class="footer-icons">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-media-item">
        <a href="" class="footer-icons-link"
          ><svg class="footer-icons">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-media-item">
        <a href="" class="footer-icons-link"
          ><svg class="footer-icons">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-text">&copy;2022 The Watch Spot. All rights reserved.</p>
    <ul class="footer-text-block">
      <li><p class="footer-text">Privacy Policy</p></li>
      <li><p class="footer-text">Terms of Service</p></li>
    </ul>
  </div>
</footer>
