<footer class="footer">
  <div class="container">
    <div class="footer-logo-links-socmed">
      <div>
        <a href="./index.html"
          ><img
            class="footer-logo-icon"
            src="./img/logo.svg"
            alt="logo"
            width="50"
            height="50"
          />
        </a>
        <address>
          <ul>
            <li class="footer-tel-li">
              <a href="tel:+380684439426" class="footer-tel"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-address-li">
              <a
                href="https://www.google.com/maps/search/?api=1&query=1678+S.+Pioneer+Road%2C+Salt+Lake+City%2C+UT+84104"
                class="footer-address"
                target="_blank"
              >
                1678 S. Pioneer Road Salt Lake City <br />UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>
      <ul class="footer-link">
        <li class="footer-link-about-us"><a href="#anchor1">ABOUT US</a></li>
        <li class="footer-link-catalog"><a href="#anchor2">CATALOG</a></li>
        <li class="footer-link-sale"><a href="#anchor3">SALE</a></li>
      </ul>

      <ul class="footer-social-media">
        <li class="footer-social-media-item">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="facebook"
            class="footer-icons-link"
            ><svg class="footer-icons">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-media-item">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            aria-label="instagram"
            class="footer-icons-link"
            ><svg class="footer-icons">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-media-item">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            aria-label="youtube"
            class="footer-icons-link"
            ><svg class="footer-icons">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-end-text">
      <p class="footer-text">&copy;2022 The Watch Spot. All rights reserved.</p>
      <ul class="footer-text-block">
        <li><p class="footer-text">Privacy Policy</p></li>
        <li><p class="footer-text">Terms of Service</p></li>
      </ul>
    </div>
  </div>
</footer>
