<footer class="footer">
  <div class="container">
    <address>
      <ul>
        <li>
          <a href="tel:+380684439426">+380 (68) 443-94-26</a>
        </li>
        <li><a href="">1678 S. Pioneer Road Salt Lake City UT 84104</a></li>
      </ul>
    </address>
    <ul>
      <li><a href="">ABOUT US</a></li>
      <li><a href="">CATALOG</a></li>
      <li><a href="">SALE</a></li>
    </ul>
    <p>2022 The Watch Spot. All rights reserved.</p>
    <ul>
      <p>Privacy Policy</p>
    </ul>
    <ul>
      <p>Terms of Service</p>
    </ul>
  </div>
</footer>
