<header class="page-header">
      <div class="container header">
        <a href="" class="header-logo link">
          <img class="logo-icon" src="./img/logo.svg" alt="" />
          <span class="text-logo">thewatchspot</span>
        </a>
        <nav class="header-nav">
          <ul class="list nav-list">
            <li class="item">
              <a href="" class="header-list-link link">About us</a>
            </li>
            <li class="item">
              <a href="" class="header-list-link link">Catalog</a>
            </li>
            <li class="item">
              <a href="" class="header-list-link link">Sale</a>
            </li>
          </ul>
        </nav>
        <button class="menu-button" type="button" data-menu-open>
          <svg class="burger-open">
            <use href="./img/icons.svg#icon-burger-menu"></use>
          </svg>
        </button>
        <div class="contact">
          <a class="call-number link" href="tel:+380684439426" 
            >+380 (68) 443-94-26</a> 
        </div>
      </div>
    </header>