
<section class="hero">
  <div class="container hero-container">
      <h1 class="hero-head">Welcome to our collection of premium watches</h1>
<div class="swiper-and-btn">
  <div class="swiper mySwiper">
      <div class="swiper-wrapper">
              <div class="swiper-slide hero-swiper-slide">
                  <img 
                  srcset="./img/swipe/hero-swipe.png 1x, ./img/swipe/hero-swipe@2x.png 2x"
                  src="./img/swipe/hero-swipe.png" alt="#" width="348">
              </div>
              <div class="swiper-slide hero-swiper-slide">
                  <img 
                  srcset="./img/swipe/hero-swipe2.png 1x, ./img/swipe/hero-swipe2@2x.png 2x"
                  src="./img/swipe/hero-swipe2.png" alt="#" width="348">
              </div>
              <div class="swiper-slide hero-swiper-slide">
                  <img 
                  srcset="./img/swipe/hero-swipe3.png 1x, ./img/swipe/hero-swipe3@2x.png 2x"
                  src="./img/swipe/hero-swipe3.png" alt="#" width="348">
              </div>
              <div class="swiper-slide hero-swiper-slide">
                  <img 
                  srcset="./img/swipe/hero-swipe4.png 1x, ./img/swipe/hero-swipe4@2x.png 2x"
                  src="./img/swipe/hero-swipe4.png" alt="#" width="348">
              </div>
              <div class="swiper-slide hero-swiper-slide">
                  <img 
                  srcset="./img/swipe/hero-swipe5.png 1x, ./img/swipe/hero-swipe5@2x.png 2x"
                  src="./img/swipe/hero-swipe5.png" alt="#" width="348">
              </div>
      </div>

      
  </div>
      <div class="swiper-action">
      <div class="swiper-buttons">
              <div class="button-prev">
                  <svg class="button-icon">
                      <use href="./img/icons.svg#icon-prev"></use>
                  </svg>
              </div>
              <div class="button-next">
                  <svg class="button-icon">
                      <use href="./img/icons.svg#icon-next"></use>
                  </svg>
              </div>
      </div>   
    
<div class="swiper-pagination"></div> 
</div>
</div>

  <p class="hero-txt">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>

  
              
      <div class="section-img-block">
        <picture>
        <source media="(max-width: 767px)" srcset="./img/hero-mob.jpg">
        <source media="(max-width: 1279px)" srcset="./img/hero-tab.jpg">
         <img class="hero-img" src="./img/hero-desk.jpg" alt="hero">
      </div>  

  </div>
</section>
