<section class="new-watches">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/green-watch-desk.jpg    1x,
              ./img/green-watch-desk@2x.jpg 2x
            "
            media="(min-width: 1176px)"
          />
          <source
            srcset="
              ./img/green-watch-tab.jpg    1x,
              ./img/green-watch-tab@2x.jpg 2x
            "
            media="(min-width: 704px)"
          />

          <img
            srcset="
              ./img/green-watch-mob.jpg    1x,
              ./img/green-watch-mob@2x.jpg 2x
            "
            src="./img/green-watch-mob.jpg"
            alt="watch on the hand"
            width="576"
          />
        </picture>
      </li>
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/bronze-watch-desk.jpg    1x,
              ./img/bronze-watch-desk@2x.jpg 2x
            "
            media="(min-width: 1176px)"
          />
          <source
            srcset="
              ./img/bronze-watch-tab.jpg    1x,
              ./img/bronze-watch-tab@2x.jpg 2x
            "
            media="(min-width: 704px)"
          />
          <img
            srcset="
              ./img/bronze-watch-mob.jpg    1x,
              ./img/bronze-watch-mob@2x.jpg 2x
            "
            src="./img/bronze-watch-mob.jpg"
            alt="watch"
            width="576"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
