<section class="new-watches">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <img
          class="new-watches-img"
          src=""
          alt="watch on the hand"
          width="335"
        />
      </li>
      <li class="new-watches-item">
        <img class="new-watches-img" src="" alt="watch" width="335" />
      </li>
    </ul>
  </div>
</section>
