<section class="section-sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
<div class="sale-content-container"> 
<!--     Врапер для слайдерів -->
    <div class="thumb-sliders">
      
<!--       Слайдер "пагінація" -->
      <div class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale-w406.jpg" alt="img1" />

            </div>
          </div>
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale2.jpg" alt="img2" />

            </div>
          </div>
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale3.jpg" alt="img3" />

            </div>
          </div>
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale4.jpg" alt="img4" />

            </div>
          </div>
        </div>
      </div>

      
<!--       Головний слайдер -->
      <div class="swiper mySwiper3">
        <div class="swiper-wrapper">
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale-w406.jpg" alt="img1" />

            </div>
          </div>
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale2.jpg" alt="img2" />

            </div>
          </div>
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale3.jpg" alt="img3" />

            </div>
          </div>
          <div class="swiper-slide ">
            <div class="swiper-card">
              <img src="./img/sale/sale4.jpg" alt="img4" />

            </div>
          </div>
  
        </div>
      </div>
    </div>

    <ul class="sale-list">
      <li class="sale-list-item">
          <h3 class="sale-list-head">Greenlane Watch By 
              Police For MenHT </h3>
              <p class="sale-list-product">Product tag: PEWJK2227003</p>
              <p class="sale-price">€700<span class="old-price">€1000</span> </p>
      </li>
      <li class="sale-list-item">
          <h4>Description</h4>
          <p class="sale-list-text">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile multifunction design that fits effortlessly into work and play. The steel case is adorned with a semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with matching crown and pushers.</p>
      </li>
      <li class="sale-list-item">
          <h4>DETAILS & FEATUREStion</h4>
          <p class="sale-list-text sale-text2">Gender: man
              Size: 46x54.5mm
              Case Colour: Steel
              Band Material: Metal
              Case Material: Metal
              Features: Multifunction
              Water Resistant: 5 (ATM)
              Band Colour: Steel
          </p>
      </li>
    </ul>
  </div> 
  </div>
</section>