@media screen and (min-width: 375px) {
    .container {
        width: 335px;
    }

    .about {
        padding-top: 40px;
    }

    .about-head {
font-weight: 600;
font-size: 32px;
line-height: 1.25;
letter-spacing: -0.02em;
margin-bottom: 40px;
color: #1E2827;
    }

    .about-text {
        max-width: 335px;
        max-height: 108px;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 1.28;
letter-spacing: -0.02em;
margin-bottom: 40px;
color: #141414;
    }

    .animated-gif {
        width: 335px;
height: 365px;
background: url(/img/watchspot.gif);
    }
    
}




@media screen and (min-width: 768px) {
    .container {
        width: 704px;
    }
}







@media screen and (min-width: 1280px) {
    
}
