@media screen and (min-width: 375px) {
    
    .about {
        padding-top: 40px;
    }

    .about-head {
font-weight: 600;
font-size: 32px;
line-height: 1.25;
letter-spacing: -0.02em;
margin-bottom: 40px;
color: #1E2827;
    }

    .about-text {
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 1.28;
letter-spacing: -0.02em;
color: #141414;
    }

    .about-txt {
        display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
    }

    .animated-gif {
        width: 335px;
height: 365px;
margin-top: 40px;
background: url(/img/about-gif.jpg);
    }

    .gif-button {
        background-image: url(/img/about-gif.jpg);
        background-size: cover;
        width: 335px;
        height: 365px;
        border: none;
        outline: none;
      }
      
      .gif-button:hover {
        background-image: url(/img/watchspot.gif);
        background-size: cover;
      }
      
}




@media screen and (min-width: 768px) {

    .about-tab {
        display: flex;
    }

    .about {
        padding-top: 64px;
    }

    .about-head:not(:last-child) {
        margin-right: 40px;
font-size: 40px;
line-height: 1.1;
    }

    .about-txt {
        display: flex;
        flex-direction: row;
    }


    .about-text {
        max-width: 220px;
    }

    .animated-gif {
        width: 704px;
height: 465px;
background: url(/img/about-tab-gif.jpg);
    }

    .gif-button {
        background-image: url(/img/about-tab-gif.jpg);
        width: 704px;
        height: 465px;
      }
      
      .gif-button:hover {
        background-image: url(/img/watchspot.gif);
      }
}







@media screen and (min-width: 1280px) {

    .about {
        padding-top: 80px;
    }

    .about-head:not(:last-child) {
        width: 174px;
        margin-right: 110px;
    
}

.about-txt {
    gap: 40px;
}

.about-text {
    max-width: 439px;
}

.animated-gif {
    float: right;
    width: 892px;
height: 500px;
background: url(/img/about-desktop-gif.jpg);
}

.gif-button {
    background-image: url(/img/about-desktop-gif.jpg);
    width: 892px;
    height: 599px;
  }
  
  .gif-button:hover {
    background-image: url(/img/watchspot.gif);
  }

}