.page-header {
  margin-bottom: -1px;
  background-color:  #141414;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  width: 14px;
  height: 14px;
}
.header-text-logo {
  margin-left: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-left: 4px;
}

.header-nav,
.contact {
  display: none;
}
.call-number {
  display: none;
}

@media (min-width: 375px) {
  .contact {
    width: 375px;
  }
}

/* ==== mobile ==== */

@media (max-width: 767px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-button {
    padding: 0;
    background-color:#141414;
    border: none;
   
  }
  .burger-open {
    fill: white;
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 768px) {
  

  .header {
    display: flex;
  }

  .header-logo {
    margin-right: 80px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
  }

  .header-list-link {
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .nav-list .item:not(:last-child) {
    margin-right: 40px;
  }

  .call-number {
    display: block;
    padding: 18px 35px;
    background: #1e2827;
    border-radius: 8px;
    width: 159px;
    height: 48px;
    margin-left: auto;
    color: #ffffff;
    font-weight: 400;
    font-size: 9px;
    line-height: 12px;
    text-transform: uppercase;
  }


  .menu-button {
    display: none;
  }
}

@media (min-width: 767px) {
  .page-header {
    margin: 0 auto;
    max-width: 1440px;
    background-color:  #141414;
    margin-bottom: -1px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .header-logo-icon {
    width: 19px;
    height: 19px;
  }
  .header-text-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.03em;
    color: #ffffff;
  }
}
