.hero {
    padding-top: 69px;
    padding-bottom: 40px;
    background-color:black;
    
}
.hero-head {
    font-weight: 600;
    font-size: 38px;
    line-height: calc(40/38);
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.button-icon {
    width: 35px;
    height: 35px;
    display: block;
}
.mySwiper {
    width: 266px;
    display: inline-flex;
    justify-content: start;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
}
.swiper-buttons {
    width: 266px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 12px;
}
.swiper-wrapper {
   
}
.swiper-slide {
    display: flex;
    justify-content: center;
    background-color: #1E2827;
}

.hero-img {
    display: none;
}
.swiper-pagination{
    position: static;
    text-align: end;
    color: #FFFFFF;
    left: 211px;
    bottom: 20%;
}

.hero-txt {
    margin-top: 40px;
    margin-left: 92px;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(18/14);
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

@media screen and (max-width:768px){
.section-img-block {
    margin-top: 40px;
    height: 410px;
    background-image: url(/img/hero-mob.jpg);
    object-fit: cover;
}
}

@media screen and (min-width:768px) {
    .hero-img {
        display: block;
    }
    .hero-head {
        width: 653px;
        font-size: 60px;
        line-height: calc(62/60);
    }
}
