.new-watches {
  padding: 80px 0;
}

.new-watches-title {
  font-family: 'Epilogue';
  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.06em;
  color: rgba(20, 20, 20, 0.4);
  margin-bottom: 8px;
}

.new-watches-subtitle {
  font-family: 'Epilogue';
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 40px;
}

.new-watches-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.new-watches-img {
  width: 335px;
  height: 260px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1176px;
  }
}
